* text=auto !eol
/Makefile -text
/NOTES -text
/apertium-snd.snd.acx -text
/apertium-snd.snd.dix -text
/clean_wiki.txt -text
dev/history.log -text
/labelled -text
/script2.py -text
/unks -text
/unks-tmp-sort -text svneol=unset#application/octet-stream
/wiki.txt -text
